/* for scroll .progress-bar */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");
.progress-bar {
  display: block;
  width: 100%;
  padding-top: 1px;
  height: 4px;
  position: fixed;
  z-index: 50;
  background: linear-gradient(to right, rgb(128, 83, 0) var(--scroll), transparent 0);
  background-repeat: no-repeat;
}
.progress-bar.horizontal.top {
  top: 4.5rem;
  left: 0;
}
/* .progress-bar.horizontal.bottom {
  top: auto;
  bottom: 0;
  background: linear-gradient(to left, green var(--scroll), transparent 0);
} */
/* .progress-bar.vertical.left {
  width: 8px;
  height: 100vh;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom, green var(--scroll), transparent 0);
} */
/* .progress-bar.vertical.right {
  width: 8px;
  height: 100vh;
  top: 0;
  right: 0;
  background: linear-gradient(to top, green var(--scroll), transparent 0);
} */

.display-content {
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
.display-content h1 {
  color: #fff;
  font-family: Montserrat, sans-serif;
  font-size: 34px;
  text-transform: uppercase;
}

/* .scroll {
  height: 360vh;
} */







/* universal selector */
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body::-webkit-scrollbar {
    display: none;
  }
body{
    width: 100vw;
    overflow-x: hidden;
}
a{
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
/* utility class */
.bordercolor{
    background: linear-gradient(to right, #68d4e6 0%, #8865cc 50%, #4f8df8 100%);
}
/* for navbar */
/* nav{
    position: sticky;
    top: 0px;
} */
#navbar{
    position: fixed;  
    top: 0px;
    display: flex;
    z-index: 9999;
    width: 100vw;
    height: 5vw;
    background: radial-gradient(circle at 70% 90%, rgb(0,0,10) 10%, rgb(0, 0, 0) 100%);

}
#navbar::before{
    content: "";
    position: absolute;
    /* background-color: white; */
    width: 100%;
    height: 100%;
    opacity: 1;
    z-index: -1;
}

/* .Team-Name{
    height: 5rem;
    width: 25vw;
    margin-right: 6vw;
    text-align: center;
    
} */
.logopart{
    height: 5rem;
    width: 28vw;
    display: flex;
    height : 5vw;
    /* border: 3px solid white; */
    justify-content: center;
}
.icon{
    width: 50px;
    height: 50px;
    align-self: center;
    /* border: 3px solid white; */
    border-radius: 40px;
    object-fit: fill;
    overflow: hidden;
}
.icon img{
    width: 100%;
    height: 100%;
    /* border-radius: 50px; */
}
.Team-Name{
    height: 4rem;
    width: 15vw;
}
.Team-Name img{
    width: 100%;
    height: 100%;
}
/* .teamname{
    font-size: 2.5rem;
    color: white;
    text-shadow: 3px 0px #555b63;

}
.organiser{
    font-size: 2.05rem;
    color: white;
    margin-top: -0.7rem;
    font-weight: 600;
    font-family: 'Anton', sans-serif;
    font-family: 'Bitter', serif;
} */
.Navlinks{
    /* border: 2px solid red; */
    width: 47vw;
    /* margin-right: 12vw; */
    display: flex;
}
nav ul{
    width: 100%;
    align-self: center;
    /* border: 3px solid white; */
    display: flex;
    justify-content: space-around;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    font-family: 'Bitter', serif;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
    /* color: rgb(0, 0, 0); */
    color: white;
    transition: all 1s ease 0s;
}
nav ul li a:hover{
    animation-name: stroke;
    font-size: 1.4rem;
    font-weight: bolder;
    animation-duration: 1.0s;
    animation-fill-mode: forwards;
}
.bgColor{
    transition: all 0.6s;
    background-color: rgb(8, 8, 48);
}

@keyframes stroke{
    0%{
        border-bottom: 4px solid #1c054a;
    }
    25%{
        border-bottom: 4px solid #4f8df8;
    }
    50%{
        border-bottom: 4px solid #45b3c6;
    }
    100%{
        border-bottom: 4px solid grey;
    }
}


.Login-btn{
    width: 25vw;
    /* border: 2px solid white; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
.btn{
    color: white;
    height: 2rem;
    width: 13vw;
    font-size: 1.2rem;
    margin-left: 10vw;
    /* margin-top: 13px; */
    border-color: azure;
    border-radius: 12px;
    background-image: linear-gradient(to right, #68d4e6 0%, #8865cc 50%, #4f8df8 100%);
    box-shadow: 0 4px 6px rgb(50 50 93 / 11%), 0 1px 3px rgb(0 0 0 / 8%);
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease;
    transition-delay: 0s; 
}
.btn:hover{
    cursor: pointer;
    border: 2px solid black;
    font-size: 1.4rem;
    font-weight: 400;
    background-image: linear-gradient(to right, #4f8df8 0%, #8865cc 50%, #68d4e6 100%);
}
@media (min-width: 1000px) and (max-width: 1500px){
    .logopart{
        width: 25vw;
    }
    .Navlinks{
        width:54vw;
    }
    nav ul li a{
        font-size: 1.1rem;
    }
    nav ul li a:hover{
        font-size: 1.3rem;
    }
    .Login-btn{
        width:21vw;
    }
    .btn{
        font-size: 1.0rem;
        width:12vw;
        margin-left: 7vw;
    }
    .btn:hover{
        font-size: 1.2rem;
    }
}
@media (min-width: 700px) and (max-width: 1000px){
    .logopart{
        width: 22vw;
    }
    .Team-Name{
        width: 13vw;
    }
    .Navlinks{
        margin-right: 0;
        width:60vw;
    }
    nav ul li a{
        font-size: 0.9rem;
    }
    nav ul li a:hover{
        font-size: 1.1rem;
    }
    .Login-btn{
        width:18vw;
    }
    .btn{
        font-size: 0.8rem;
        width:13vw;
        margin-left: 3vw;
    }
    .btn:hover{
        font-size: 1.0rem;
    }
}
@media (max-width: 700px){
    #navbar{
        display: block;
    }
    .logopart{
        width: 100vw;
    }
    .Team-Name{
        width: 18vw;
    }
    .Navlinks{
        width: 100vw;
    }
    nav ul li a{
        font-size: 1.1rem;
    }
    nav ul li a:hover{
        font-size: 1.3rem;
    }
    .Login-btn{
        display: none;
    }
}
/* for animation */
/* ---- reset ---- */

body {
    margin: 0;
    font:normal 75% Arial, Helvetica, sans-serif;
  }
  
  canvas {
    display: block;
    vertical-align: bottom;
  }
  
  /* ---- particles.js container ---- */
  
  #particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    /* background-color: black */
    background-image: url("fInbbg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
  }
  #particles-js1 {
    position: absolute;
    width: 100%;
    height: 48vh;
    /* background-color: rgb(8, 8, 36); */
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    z-index: 999999;
  }
  
  /* ---- stats.js ---- */
  
  .count-particles{
    background: #000022;
    position: absolute;
    top: 48px;
    left: 0;
    width: 80px;
    color: #13E8E9;
    font-size: .8em;
    text-align: left;
    text-indent: 4px;
    line-height: 14px;
    padding-bottom: 2px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
  }
  
  .js-count-particles{
    font-size: 1.1em;
  }
  
  #stats,
  .count-particles{
    -webkit-user-select: none;
  }
  
  #stats{
    border-radius: 3px 3px 0 0;
    overflow: hidden;
  }
  
  .count-particles{
    border-radius: 0 0 3px 3px;
  }
/* for home */
#home{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0px;
    background: black;
}
/* #home img{
    width: 100vw;
    height: 800px;
    opacity: 0.9;
    position: relative;
} */
.on-img{
    /* border: 2px solid red; */
    position: absolute;
    top: 70vh;
    width: 100vw;
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.imgteam{
    text-align: center;
    color: white;
    font-size: 3rem;
    /* font-family: 'Nunito Sans', sans-serif; */
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;

}
.imgteam h1{
    font-size: 3rem;
    font-weight: bolder;
}
.imgtext{
    text-align: center;
    color: white;
    /* font-style: italic; */
    font-family: 'Bitter', serif;
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 4px;
}
.border{
    height: 0.7rem;
    width: 60vw;
    /* background-image: linear-gradient(to right, #68d4e6 0%, #8865cc 50%,#4f8df8  100%); */
    background-color: rgb(177, 177, 177);
}
.buttons{
    margin-top: 2rem;
    text-align: center;
}
.imgbtn{
    color: white;
    font-size: 1.5rem;
    background: none;
    width: 14rem;
    height: 3rem;
    border: 2px solid rgb(104, 101, 101);
    border-radius: 3px;
    margin-right: 2rem;
    margin-left: 2rem;
    /* margin-right: 6rem; */
    /* margin-left: 6rem; */
    transition: all 0.5s ease-in-out 0s;
}
.imgbtn:hover{
    font-size: 1.7rem;
    background-color: white;
    color: black;
    cursor: pointer;
    font-weight: 600;
}

@media (min-width: 1150px) and (max-width: 1871px) {
    /* .on-img{
        top: 20rem;
    } */
    .imgteam h1{
        font-size: 2.2rem;
    }
    .imgtext{
        font-size: 1.3rem;
    }
    .imgbtn{
        margin-right: 1rem;
        margin-left: 1rem;
        font-size: 1.5rem;
        width:14rem;
    }
    .imgbtn:hover{
        font-size: 1.7rem;
    }
}
@media (min-width: 700px) and (max-width: 1150px) { 
    .imgteam{
        font-size: 2.0rem;
    }
    .imgtext{
        font-size: 1.0rem;
    }
    .imgteam h1{
        font-size: 2.0rem;
    }
    /* .on-img{
        top: 12rem;
    } */
    .buttons{
        /* display: flex; */
        /* flex-direction: column; */
        /* justify-content: center; */
        margin-top: 2rem;
    }
    .imgbtn{
        width: 12rem;
        font-size: 1.5rem;
        height: 3rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .imgbtn:hover{
        font-size: 1.7rem;
    }
    .border{
        height: 0.4rem;
    }
}
@media (min-width: 480px) and (max-width: 700px) {
    .on-img{
        height: 25vh;
        top: 75vh;
    }
    .imgteam{
        font-size: 1.5rem;
    }
    .imgtext{
        font-size: 1rem;
    }
    .imgteam h1{
        font-size: 1.5rem;
    }
    .buttons{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 1rem;
    }
    .imgbtn{
        width: 10rem;
        margin-top: 0.3rem;
        font-size: 1.3rem;
        height: 2rem;
        margin-left: auto;
        margin-right: auto;
    }
    .imgbtn:hover{
        font-size: 1.5rem;
    }
    .border{
        height: 0.2rem
    }
}
@media (max-width: 480px){
    .on-img{
        height: 25vh;
        top: 75vh;
    }

    .imgteam{
        font-size: 1.3rem;
    }
    .imgteam h1{
        font-size: 1.3rem;
    }
    .imgtext{
        font-size: 0.8rem;
    }
    .buttons{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 1rem;
    }
    .imgbtn{
        width: 8rem;
        font-size: 1rem;
        height: 1.5rem;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0.4rem;
    }
    .imgbtn:hover{
        font-size: 1.3rem;
    }
    .border{
        height: 0.1rem
    }
}
/* about section */
#about{
    /* border: 2px solid red; */
    position: absolute;
    top: 100vh;
    height: 100vh;
}
.aboutdevice{
    width: 100vw;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.upperhead{
    border-top: 2px solid rgb(128, 83, 0);
    padding-left: 5vw;
    color: rgb(92, 92, 92);
    
    /* border: 2px solid red; */
    width: 100vw;
    height: 50px;
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
}
.lowerhead{
    padding-left: 5vw;
    border-bottom: 2px solid rgb(128, 83, 0);
    /* border: 2px solid red; */
    width: 100vw;
    height: 50px;
    font-size: 2.1rem;
    text-shadow: 1px 1px black;
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
}
.borderside{
    margin-left: 2vw;
    width: 10vw;
    height: 3px;

}
.upperhead h2{
    font-size: 1.8rem;
    /* text-shadow: 1px 1px rgb(12, 9, 9); */
    font-family: 'Anton', sans-serif;
    font-family: 'Bitter', serif;
    /* font-weight: bolder; */
    
    /* font-family: 'Fjalla One', sans-serif; */
    /* font-family: 'Koulen', cursive; */
    /* font-family: 'Lobster', cursive; */
}

#aboutus{
    /* border: 2px solid red; */
    display: flex;
    width: 100vw;
    height: 85vh;
}
.written{
    width: 60vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: black; */
}

.modelimg{
    width: 40vw;
    height: 100%;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.modelimg img{
    width: 50vw;
    height: 50vh;
    padding-right: 6vw;
}
.listitem{
    width: 45vw;
    color: black;
    font-weight: bolder;
    text-shadow: 0.5px 0.5px black;
    font-family: 'Nunito Sans', sans-serif;
    /* font-family: 'Raleway', sans-serif; */
    /* font-family: 'Raleway', sans-serif; */
    /* font-family: 'Bitter', serif; */
    /* font-family: 'Fjalla One', sans-serif; */
    font-size: 1.5rem;
    font-weight: 500;
}
.listitem li{
    /* text-shadow: 1px 0 black; */
    margin-bottom: 2rem;  
}
.tdbtn{
    background-color: white;
    list-style: none;
    width: 10vw;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    border: 3px solid rgb(128, 83, 0);
    color: rgb(128, 83, 0);
    font-size: 1.4rem;
    transition: all 0.5s;
}

.tdbtn:hover{
    cursor: pointer;
    background-color: rgb(128, 83, 0);
    color: white;
}
@media (min-width: 2100px){
    .upperhead h2{
        font-size: 2.0;
    }
    .lowerhead{
        font-size: 2.4;
    }
    .listitem{
        font-size: 2rem;
    }
    .listitem li{
        margin-bottom: 4rem;
    }
    .tdbtn{
       font-size: 2rem;
    }
}
@media (min-width: 1150px) and (max-width: 1500px){
    
    .listitem{
        width: 50vw;
        font-size: 1.4rem;
    }
    .listitem li{
        margin-bottom: 1rem;
    }
}
@media (min-width: 700px) and (max-width: 1150px){
    .upperhead h2{
        font-size: 1.5rem;
    }
    .lowerhead{
        font-size: 1.8rem;
    }
    .listitem{
        width: 50vw;
        font-size: 1.1rem;
    }
    .listitem li{
        margin-bottom: 1rem;
    }
    .tdbtn{
        width: 20vw;
        font-size: 1.2rem;
    }
    
}
@media (min-width: 480px) and (max-width: 700px){
    .upperhead h2{
        font-size: 1.5rem;
    }
    .lowerhead{
        font-size: 1.8rem;
    }
    #about{
        height: 200vh;
    }
    .aboutdevice{
        width: 100vw;
    }
    #aboutus{
        flex-direction: column;
        height: 185vh;
        width: 100vw;
    }
    .written{
        width: 100vw;
    }
    .modelimg{
        /* border: 2px solid red; */
        width: 100vw;
    }
    .modelimg img{
        height: 70vh;
        width: 60vw;
    }
    .listitem{
        width: 75vw;
        font-size: 1.4rem;
    }
    .listitem li{
        margin-bottom: 1.6rem;
    }
    .tdbtn{
        font-size: 1.2rem;
        width: 25vw;
    }
}
@media (max-width: 480px){
    .upperhead h2{
        font-size: 1.5rem;
    }
    .lowerhead{
        font-size: 1.8rem;
    }
    #about{
        height: 200vh;
    }
    .aboutdevice{
        width: 100vw;
    }
    #aboutus{
        flex-direction: column;
        height: 185vh;
        width: 100vw;
    }
    .written{
        width: 100vw;
    }
    .modelimg{
        /* border: 2px solid red; */
        width: 100vw;
    }
    .modelimg img{
        height: 60vh;
        width: 80vw;
    }
    .listitem{
        width: 75vw;
        font-size: 1.1rem;
    }
    .listitem li{
        margin-bottom: 1.6rem;
    }
    .tdbtn{
        font-size: 1.1rem;
        width: 32vw;
    }
}
/* for working section */
#Working{
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 200vh;
}
.aboutwork{
    width: 100vw;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.work{
    /* border: 2px solid red; */
    display: flex;
    width: 100vw;
    height: 85vh;
}
.written1{
    /* border: 2px solid red; */
    width: 40vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.workimg{
    width: 60vw;
    height: 100%;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.workimg img{
    /* border: 2px solid red; */
    width: 50vw;
    height: 65vh;
}

.workingwritten{
    width: 30vw;
    color: black;
    font-weight: bolder;
    text-shadow: 0.5px 0.5px black;
    font-family: 'Nunito Sans', sans-serif;
    /* font-family: 'Raleway', sans-serif; */
    /* font-family: 'Raleway', sans-serif; */
    /* font-family: 'Bitter', serif; */
    /* font-family: 'Fjalla One', sans-serif; */
    font-size: 1.5rem;
    font-weight: 500;
}
.workingwritten li{
    margin-bottom: 2rem;
}
@media (min-width: 2100px){
    .workingwritten{
        font-size: 2rem;
    }
    .workingwritten li{
        margin-bottom: 4rem;
    }
}
@media (min-width: 1150px) and (max-width: 1500px){
    .workingwritten{
        width: 30vw;
        font-size: 1.7rem;
    }
    .workingwritten li{
        margin-bottom: 1.2rem;
    }
    .tdbtn{
        width: 25vw;
    }
}
@media (min-width: 700px) and (max-width: 1150px){
    .workingwritten{
        width: 30vw;
        font-size: 1.3rem;
    }
    .workingwritten li{
        margin-bottom: 1.1rem;
    }
    .workimg img{
        height: 55vh;
    }
    .tdbtn{
        width: 20vw;
    }
}
@media (min-width: 480px) and (max-width: 700px){
    #Working{
        top: 300vh;
        height: 200vh;
    }
    .aboutwork{
        width: 100vw;
    }
    .work{
        flex-direction: column;
        height: 185vh;
        width: 100vw;
    }
    .written1{
        width: 100vw;
    }
    .workimg{
        /* border: 2px solid red; */
        width: 100vw;
    }
    .workimg img{
        height: 70vh;
        width: 60vw;
    }
    .workingwritten{
        width: 75vw;
        font-size: 1.4rem;
    }
    .workingwritten li{
        margin-bottom: 1.6rem;
    }
}
@media (max-width: 480px){
    #Working{
        height: 200vh;
        top: 300vh;
    }
    .aboutwork{
        width: 100vw;
    }
    .work{
        flex-direction: column;
        height: 185vh;
        width: 100vw;
    }
    .written1{
        width: 100vw;
    }
    .workimg{
        /* border: 2px solid red; */
        width: 100vw;
    }
    .workimg img{
        height: 60vh;
        width: 80vw;
    }
    .workingwritten{
        width: 75vw;
        font-size: 1.1rem;
    }
    .workingwritten li{
        margin-bottom: 1.6rem;
    }
}
/* for contact-us section */
#Contact-Us{
    width: 100vw;
    height: 60vh;
    background-color: white;
    position: absolute;
    top: 300vh;
    /* border: 2px solid red; */
}
.aboutcontact{
    width: 100vw;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 2px solid red; */
}
.h1{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15vh;
    
    /* border: 2px solid red; */
}
.paras{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 2px solid red; */
    
    height: 25vh;
}
.paras p{
    font-size: 1.1rem;
    font-style: italic;
    font-weight: bolder;
}
.copyr{
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid red; */
    width: auto;
}
.copyr h2{
    font-size: 1.2rem;
}
.contact-us{
    background-color: rgb(8, 8, 36);
    display: flex;
    color: white;
    position: absolute;
    top: 300vh + 100px;
    /* border: 2px solid red; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 48vh;
}
.contact-us p{
    font-family: 'Bitter', serif;
}

.contact-us h1{
    text-shadow: 1px 1px white;
    font-size: 2.6rem;
    font-family: 'Raleway', sans-serif;
}


@media (min-width: 480px) and (max-width: 700px){
    #Contact-Us{
        top: 500vh;
    }
    .contact-us{
        top: 500vh + 100px;
    } 
    .contact-us p{
        font-size: 0.8rem;
    }
    .contact-us h2{
        font-size: 0.9rem;
    }
}
@media (max-width: 480px){
    #Contact-Us{
        top: 500vh;
    }
    .contact-us{
        top: 500vh + 100px;
    } 
    .contact-us p{
        font-size: 0.8rem;
    }
    .contact-us h2{
        font-size: 0.7rem;
    }
    .contact-us h1{
        font-size: 1.8rem;
    }
}

/* for contactus section animation */
#box{
    position: absolute;
    width: 100vw;
    height: 50vh;
    background-color: #000;
    background-image: radial-gradient(circle at top right, rgba(121, 68, 154, 0.13), transparent), radial-gradient(circle at 20% 80%, rgba(41, 196, 255, 0.13), transparent);
  }
  
  #ca{
    z-index: 99999;
    position: absolute;
    width: 100%;
    height: 50vh;
  }